/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');
* {

	font-family: 'Poppins', sans-serif; 
	margin: 0;
	padding: 0;
	scroll-padding-top: 2rem;
	scroll-behavior: smooth;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

------------------------------------------------------------
	
		}
		.logo {
			height: auto;
			width: 130px;
			padding-left: 30px;
			padding-top: 10px ;
		}
		.navbar{
			padding-top: 0px;
			position: fixed;
			z-index: 100;
			height: 80px;
			padding-left: 450px;
			
		}
		.navbar ul {
			list-style: 0;
			margin: 0;
			padding: 0;

		}
		.navbar ul li {
			padding-right: 30px;
			padding-left: 30px;
			display: inline-block;
		}
		.navbar ul li a {
			text-decoration: none;
			color: white;
			font-family: 'Poppins', sans-serif;
			padding: 15px;
			border-radius: 3px;
			font-size: 20px;
		}
		a.active,a:hover{
			background-color: red;
			box-shadow: 0px 2px 20px 4px #9c0b19;
			transition: .4s;
		}

-----------------------------------------------------------------------

:root {
	--main-color: #fd4646;
	--text-color: #171427;
	--bg-color: #fff;
}

img {
	width: 100%;
}

.logo{
	height: auto;
	width: 130px;
	padding-left: 30px;
	padding-top: 10px ;
}

body {
	background-color: black;
	color: var(--text-color);
}

.container {
	max-width: 1068px;
	margin: auto;
	width: 100%;
}

section {
	padding: 4rem 0 3rem;
}

header {

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--bg-color);
	box-shadow: -2px 0 4px hsl(0, 10%, 15%);
	z-index: 10;
}

.nav_container{
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}


.logo {
	padding-left: 40px;
	font-size: 1.1rem;
	color: var(--text-color);
	font-weight: 400;
}

#cart-icon {
	padding-right: 40px;
	font-size: 1.8rem;
	cursor: pointer;
	color: white;
}
.add-cart{
	color: white;
}


/*cart*/
.cart {
	position: fixed;
	top: 0;
	right: -100%;
	width: 360px;
	min-height: 100vh;
	padding: 20px;
	background: black;
	box-shadow: -2px 0 4px hsl(0, 10%, 15%);
	transition: 0.3s;
}

.cart.active {
	position: absolute;
	z-index:100;
	right: 0;
}

.cart-title {
	color: white;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 2rem;
}

.cart-box {
	color: white;
	display: grid;
	grid-template-columns: 32% 50% 18%;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
}

.back{
	background-color: black;
}

.cart-img {
	width: 100px;
	height: 100px;
	object-fit: contain;
	padding: 10px;
}

.detail-box {
	display: grid;
	row-gap: 0.5rem;
}

.cart-product-title {
	color: white;
	font-size: 1rem;
	text-transform: uppercase;
}

.cart-price {
	color: white;
	font-weight: 500;
}

.cart-quantity {
	border: 1px solid;
	outline-color: var(--main-color);
	width: 2.4rem;
	text-align: center;
	font-size: 1rem;
}

.cart-remove {
	font-size: 24px;
	color: var(--main-color);
	cursor: pointer;
}

.total {
	display: flex;
	justify-content: flex-end;
	margin-top: 1.5rem;
	border-top: 1px solid var(--text-color);
}

.total-title {
	color: white;
	font-size: 1rem;
	font-weight: 600;
}

.total-price {
	color: white;
	margin-left: 0.5rem;
}

.btn-buy {
	display: flex;
	margin: 1.5rem auto 0 auto;
	padding: 12px 20px;
	border: none;
	background:red;
	color: black;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
	border-radius: 25px;
}

.btn-buy:hover {
	color: white;
}

#close-cart {
	color: white;
	position: absolute;
	top: 1rem;
	right: 0.8rem;
	font-size: 2rem;
	cursor: pointer;
}

.section-title {
	padding-top: 100px;
	color:   #CA0123;
	text-transform: uppercase;
	font-size: 2.5rem;
	font-size: 600;
	text-align: center;
	margin-bottom: 1.5rem;
}

.shop {
	margin-top: 2rem;
}

/* shop content */
.shop-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, auto));
	gap: 1.5rem;
}

.product-box {
	position: relative;
	background-color: #420C09;
	
}



.product-box:hover {
	background-color:black;
	padding: 10px;
	border: 1px solid white;
	transition: 0.4s;
}

.product-img {
	width: 100%;
	height: auto;
	margin-bottom: 0.5rem;
}

.product-title {
	color: white;
	font-size: 1.1rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.price {
	font-weight: 500;
	color: white;
}

.add-cart {
	position: absolute;
	bottom: 0;
	right: 0;
	background: var(--text-color);
	padding: 10px;
	cursor: pointer;
}

.add-cart:hover {
	background: hsl(249, 32%, 17%);
}

.footer{
	text-align: center;
	background-color: darkred;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* breakpoints/ making responsive*/
@media (max-width: 1080px) {
	.nav {
		padding: 15px;
	}
	section {
		padding: 3rem 0 2rem;
	}
	.container {
		margin: 0 auto;
		width: 90%;
	}
	.shop {
		margin-top: 2rem !important;
	}
}

@media (max-width: 400px) {
	.nav {
		padding: 11px;
	}
	.logo {
		font-size: 1rem;
	}
	.cart {
		width: 320px;
	}
}

@media (max-width: 360px) {
	.shop {
		margin-top: 1rem !important;
	}
	.cart {
		width: 280px;
	}
}
